{% extends 'shop/base.html' %}
{% load static %}

{% block content %}



    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Blog Page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="">Blog</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Blog Categorie Area =================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="{% static 'img/blog/cat-post/clubshop-news.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                
                                    <h5>SportShop News</h5>
                                
                                <div class="border_line"></div>
                                <p>Find the latest about us.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="{% static 'img/blog/cat-post/football-news.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                
                                    <h5>Football News</h5>
                                
                                <div class="border_line"></div>
                                <p>Get Latest Updates on World Football</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img src="{% static 'img/blog/cat-post/cat-post-2.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                
                                    <h5>Advertisement</h5>
                                
                                <div class="border_line"></div>
                                <p>Line from Advertiser</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% for blog in blogs %}
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">{{blog.tags}}</a>
                                        
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{blog.writer_name}}<i class="lnr lnr-user"></i></a></li>
                                        <li><a href="#">{{blog.blog_date|date:"D d M Y" }}<i class="lnr lnr-calendar-full"></i></a></li>
                                        <li><a href="#">{{blog.view_count}}<i class="lnr lnr-eye"></i></a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{blog.imageURL}}" alt="">
                                    <div class="blog_details">
                                        <a href="{% url 'blogdetail' blog.id %}">
                                            <h2>{{blog.title}}</h2>
                                        </a>
                                        <p>{{blog.description|truncatechars:255| safe}}</p>
                                        <a href="{% url 'blogdetail' blog.id %}" class="white_bg_btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                        
                        <nav class="blog-pagination justify-content-center d-flex">
                            {% if is_paginated %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                <li class="page-item">                                
                                    <a href="/blog/?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in loop %}
							        {% if i == page_obj.number %}
                                        <li class="page-item active"><a href="/blog/?page={{i}}" class="page-link">{{i}}</a></li>
                                    {% else %}
                                        <li class="page-item "><a href="/blog/?page={{i}}" class="page-link">{{i}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="/blog/?page={{page_obj.next_page_number}}" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Popular Posts</h3>
                            {% for i in popularpost %}
                            <div class="media post_item">
                                <img src="{{i.imageURL}}"  style="height: 70px; width: 70px;"  alt="post">
                                <div class="media-body">
                                    <a href="{% url 'blogdetail' i.id %}">
                                        <h3>{{i.title}}</h3>
                                    </a>
                                    <p>{{i.blog_date|date:"D d M Y"}}</p>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Advertisement</h4>
                            <div class="single-deal">
                                <div class="overlay">
                                </div>
                                    <img class="img-fluid w-100" src="{% static 'img/banner/advertisement1.jpg' %}" alt="">
                                
                                    <div class="deal-details">
                                        <a href="#" >
                                        <h6 class="deal-title">Advertisement</h6>
                                        </a>
                                    </div>	
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Advertisement</h4>
                            <div class="single-deal">
                                <div class="overlay">
                                </div>
                                    <img class="img-fluid w-100" src="{% static 'img/banner/advertisement2.jpg' %}" alt="">
                                
                                    <div class="deal-details">
                                        <a href="#" >
                                        <h6 class="deal-title">Advertisement</h6>
                                        </a>
                                    </div>	
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Advertisement</h4>
                            <div class="single-deal">
                                <div class="overlay">
                                </div>
                                    <img class="img-fluid w-100" src="{% static 'img/banner/advertisement3.jpg' %}" alt="">
                                
                                    <div class="deal-details">
                                        <a href="#" >
                                        <h6 class="deal-title">Advertisement</h6>
                                        </a>
                                    </div>	
                            </div>
                            <div class="br"></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock content %}